.alert{
    -fx-background-color: #3B3E43;
    -fx-border-color: WHITE;
}

.alert .button{
    -fx-background-color: #313335;
    -fx-text-fill: WHITE;
}

.alert > *.button-bar > *.container{
    -fx-background-color: #3B3E43;
}

.alert > *.label.content{
    -fx-font-size: 14px;
    -fx-text-fill: WHITE;
}